.search-input {
    display: flex;
    padding: 12px 24px;
    align-items: center;
    gap: 20px;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.20);
}

.input-btn-txt {
    color: rgba(0, 0, 0, 0.60);
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    outline: none !important;
    border: none;
}

.input-svg {
    display: flex;
    width: 20px;
    height: 20px;
    justify-content: center;
    align-items: center;
}

.no-data-container {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 72px;
}

.no-data-top-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.no-data-title {
    color: #000;
    font-family: Poppins;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 132%;
}

.no-data-description {
    color: rgba(0, 0, 0, 0.60);
    text-align: center;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 132%;
}

.dashboard-content {
    display: flex;
    padding-top: 100px;
    width: 35%;
    flex: 8;
    justify-content: center;
    align-self: center;
}

.status-table-container {
    display: flex;
    width: fit-content;
    padding: 4px 12px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 60px;
}

.status-table {
    font-family: Poppins;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 132%;
}

.high {
    border: 1px solid #F55858;
    background: rgba(245, 88, 88, 0.20);
}

.medium {
    border: 1px solid #F5C958;
    background: rgba(245, 201, 88, 0.10);
}

.low {
    border: 1px solid #00A800;
    background: rgba(0, 168, 0, 0.1);
}

.high-title {
    color: #F55858;
}

.medium-title {
    color: #F5C958;
}

.low-title {
    color: #00A800;
}